* {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

body {
  margin: 0;
  background-image: url("American-Flag-backgrounds.gif");
}

#wrapper {
    margin: 20px auto;
    width: 800px;
    background-color: white;
    padding: 15px 40px 30px 40px;
    border: 2px solid black;
    border-radius: 5px;
}

h1, h1 a {
    color: #666;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    margin: 10px 0 10px 0;
}

#header {
  font-style: italic;
  font-size: 14px;
}
#speech {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size:18px;
  padding-top: 10px;
}

#footer {
  border-top: 1px solid #ccc;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}


a { color: #33f; }
a:hover { color: #f33; }

div.homepage-nav:hover {
  border: 2px solid black;
}

.homepage-nav {
  border: 2px solid transparent;
  border-radius: 5px;
}

.bottom-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 15px;
}

#generate-new-speech {
  color: white;
  background-color: #C53335;
  display: inline-block;
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1.0625rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-decoration: none;
}

.homepage-button {
  color: white;
  background-color: #C53335;
  display: inline-block;
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1.0625rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-decoration: none;
}

